@using Exercises.Models
@{
    //Layout = null;
}
@model List<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">List View</a></li>
            <li><a href="#">Table View</a></li>
            <li><a href="#">Tile View</a></li>
        </ul>
    </nav>    <section id="main-content">
        <h2 class="toy-dept">Toy Department</h2> @*Overall Code Note!! - is there anyway to put all of this into one foreach loop maybe? this one seems longer, but may be necessary due to table*@
    <div style="overflow:auto">    
    <table width="100%">
            <tr>
                <td></td> @*used to place image one place over to lineup with appropriate details*@

                @foreach (Product product in Model)
                {
                    var toyImage = "/Content/images/" + product.ImageName;  @*variable assignment for image file, we could also directly access the file I believe, but this worked*@
                    <td>
                        <img class="toy-image" src=@toyImage alt="Selected Toy Image"/>

                        @if (product.IsTopSeller)
                        {
                            <br /><span class="best-seller">BEST SELLER!</span> 
                        }
                    </td>
                }
            <tr>
                <td><b>Name</b></td>

                @foreach (Product product in Model)
                {
                    <td>@product.Name</td>
                }
            </tr>

            <tr>
                <td><b>Rating</b></td>
                @foreach (Product product in Model)
                {
                    var starImage = "/Content/images/" + Math.Round(product.AverageRating, 0) + "-star.png";
                    <td><img class="toy-rating" src=@starImage /></td>
                }
            </tr>
            <tr>
                <td><b>Mfr</b></td>

                @foreach (Product product in Model)
                {
                    <td>@product.Manufacturer</td>
                }
            </tr>
            <tr>
                <td><b>Price</b></td>
                @foreach (Product product in Model)
                {
                    <td style="color:darkred"><b>@product.Price.ToString("C")</b></td>
                }
            </tr>
            <tr>
                <td><b>wt. (in lbs)</b></td>
                @foreach (Product product in Model)
                {
                    <td>@product.WeightInLbs</td>
                }
            </tr>
        </table></div>
    </section>
</body>
</html>

