@using Exercises.Models
@{
    //Layout = null;
}
@model List<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">List View</a></li>
            <li><a href="#">Table View</a></li>
            <li><a href="#">Tile View</a></li>
        </ul>
    </nav>    <section id="main-content">
        <h2 class="toy-dept">Toy Department</h2>
        <table>
            <tr>
                <td></td>

                @foreach (var productImage in Model)
                {
                    var toyImage = "/Content/images/" + productImage.ImageName;
                    <td>
                        <img class="toy-image" src=@toyImage />

                        @if (productImage.IsTopSeller)
                        {
                            <br /><span class="best-seller">BEST SELLER!</span>
                        }
                    </td>
                }
            <tr>
                <td>Name</td>

                @foreach (Product product in Model)
                {
                    <td>@product.Name</td>
                }
            </tr>

            <tr>
                <td>Rating</td>
                @foreach (var product in Model)
                {
                    var starImage = "/Content/images/" + Math.Round(product.AverageRating, 0) + "-star.png";
                    <td><img class="toy-rating" src=@starImage /></td>
                }
            </tr>
            <tr>
                <td>Mfr</td>

                @foreach (Product product in Model)
                {
                    <td>@product.Manufacturer</td>
                }
            </tr>
            <tr>
                <td>Price</td>
                @foreach (Product product in Model)
                {
                    <td>@product.Price.ToString("C")</td>
                }
            </tr>
            <tr>
                <td>wt. (in lbs)</td>
                @foreach (Product product in Model)
                {
                    <td>@product.WeightInLbs</td>
                }
            </tr>
        </table>
    </section>
</body>
</html>

