@using Exercises.Models
@{
    //Layout = null;
}

@model List<Product>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tile</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">List View</a></li>
            <li><a href="#">Table View</a></li>
            <li><a href="#">Tile View</a></li>
        </ul>
    </nav>
    <section id="main-content">

        <h2 class="toy-dept">Toy Department</h2>

        @foreach (Product product in Model)
        {
            var toyImage = "/Content/images/" + product.ImageName;
            var starImage = "/Content/images/" + Math.Round(product.AverageRating, 0) + "-star.png";

            <div class="tile">
                <h1>
                    <img class="toy-image-tile" src=@toyImage /> <br />
                    @product.Name
                    @if (product.IsTopSeller)
                    {
                        <p1 class="best-seller">BEST SELLER!</p1>
                    }
                </h1>
                <h2>by @product.Manufacturer <br /></h2>
                <h3>
                    <p1>@product.Price.ToString("C") <br /></p1>

                    <b>Weight </b> <p2>@product.WeightInLbs lbs <br /> </p2>

                    @foreach (Product productRating in Model)
                    {

                        var rating = productRating.AverageRating;

                        if (rating == 1)
                        {<img class="toy-rating" src=@starImage />} @*if statement is only returning rating of five, defaulting to last value. I tried a while loop with breaks for each and that did the same thing, so we can try to tackle this Sunday?*@
                        else if (rating == 2)
                        {<img class="toy-rating" src=@starImage />}
                        else if (rating == 3)
                        {<img class="toy-rating" src=@starImage />}
                        else if (rating == 4)
                        {<img class="toy-rating" src=@starImage />}
                        else if (rating == 5)
                        {<img class="toy-rating" src=@starImage />}
                    }

                </h3>
                <h6></h6>
            </div>
        }

    </section>
</body>
</html>
