<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
   <section id="main-content">
       <h1>
           <img src="/Content/images/up-arrow.jpg" />

           </h1>
        <p style="text-align:center; font-family: Broadway; font-size: xx-large">Select View for Purchase Options</p>
    </section>

</body>
</html>
