/* TEMPLATE STYLES */

body {
    width: 100%;
    background-color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, header, nav {
    margin: 0px;
}

header {
    background-color: #0099CC;
    color: white;
    padding: 10px 10px;
}

nav {
    background-color: #8DC63F;
    margin-bottom: 20px;
    padding: 5px;
    height: 50px;
}

    nav ul {
        float: left;
    }

    nav li {
        list-style-type: none;
        color: white;
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 1.3em;
        float: left;
    }

        nav li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

            nav li a:hover {
                text-decoration: underline;
            }

section {
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    vertical-align: top;
    text-align: center;
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
}


/* Individual Page Styles */
table{
    table-layout: fixed;
    width: 100%;
}
.img-left {
    position: relative;
    float: left;
    width: 125px;
    height: 100px;
    margin: 10px 20px 10px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-star-resize {
    height: 15px;
    width: 75px;
}

.list-head {
    font-size: medium;
    color: black;
}

.style {
    list-style-type: none;
}

table tr:nth-child(2n) { /*2n is 2*0, 2*1, 2*2, 2*3, i.e. every other (even)*/
    background-color: lightgray;
}

table tr td:first-child {
    background-color: white;
}

.best-seller {
    color: red;
    font-size: 12px;
}

img.toy-image { /*table class for toy image*/
    height: 125px;
}

img.toy-image-desc{
    float: left;
    height: 200px;
}


img.toy-rating { /*table class for toy-rating image*/
    height: 15px;
    width: 75px;
}

.toy-dept {
    font-size: 30px;
}


.tile {
    display: inline-block;
    margin: 25px 50px 25px 50px;
}

img.toy-image-tile {
    height: 150px;
}

h1 {
    font-size: medium;
}

h2 {
    font-size: small;
}


p1 {
    color: darkred;
    font-size: medium;
    font-weight: bold;
    font-family: Calibri;
}

p2 {
    font-weight: normal;
}
p3 {
    color: grey;
    font-weight: normal;
}
p4{
    font-weight: 400;
}

h7 {
    text-align: left;
}
.product-remaining{
    color:cornflowerblue;
    font-weight: bold;

}
nav {
    width: 25%;
    margin: auto;
}




